@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

header {
    background-color: rgb(65, 217, 255);
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1500px
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-link {
    color: white;
    border-radius: 12px;
    transition: 0.3s ease-in;
}

.nav-link:hover {
    background-color: white;
    color: rgb(65, 217, 255);
    border-bottom: 1px sold white;
    border-radius: 12px;
    transition: 0.3s ease-out;
}

.sidebar {
    margin-top: 10px;
    min-height: 100vh;
    border-right: 1px solid black;
}

.user-info {
    margin-left: 10px;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.user-info button {
    display: flex;
    border-radius: 12px;
    padding: 20px;
}

.redirection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 251, 253);
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    margin-top: 200px;
    width: max-content;
}

.landing-page {
    margin-left: 150px;
}

.btn {
    border-radius: 12px;
    width:200px;
}

.badge {
    width: 100px;
}

table thead th {
    font-weight: 600;
}

.table td, .table th {
    text-align: center;
    padding: 16px 14px;
}


.alert {
    color: red;
}

.success {
    color: green;
}
