<!-- EDIT STATUS -->

{% extends 'base.html' %}
{% block content %}
    <div class="container form mt-5">
        <h4 class="text-center m-5">Update Status for Complaint #{{ complaint.id }}</h4>

        <form method="POST">
            <div class="mb-4 mx-3">
                <label>Status</label>
                <select name="status" class="form-select">
                    {% if complaint.status == "Pending" %}
                        <option value="Pending">Pending</option>
                    {% endif %}
                    <option value="In Progress">In Progress</option>
                    <option value="Resolved">Resolved</option>
                </select>
            </div>
            <div class="redirection">
                <button class="btn btn-success mb-2">
                    <i class="bi bi-save me-1"></i>
                    Save</button>
                <a class="btn btn-danger mb-5" href="{{ url_for('admin.admin_complaints') }}">
                    <i class="bi bi-x-circle me-1"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock %}