<!-- EDIT STATUS -->

{% extends 'base.html' %}
{% block content %}
    <div class="container form mt-5">
        <div class="mb-4">
            <h4 class=" text-center p-5">Update Status</h4>
            <h5 class="text-muted mx-3">Complaint ID: <span class=" text-dark fw-bold">#{{ complaint.complaint_id }}</span></h5>
            <h5 class="text-muted mx-3">Complaint Title: <span class="text-dark fw-bold">{{ complaint.title }}</span></h5>
        </div>

        <form method="POST">
            <div class="mb-4 mx-3">
                <label>Status</label>
                <select name="status" class="form-select">
                    {% if complaint.status == "Pending" %}
                        <option value="{{ complaint.status }}">{{ complaint.status }}</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Rejected">Rejected</option>
                    {% elif complaint.status == "In Progress" %}
                        <option value="In Progress">In Progress</option>
                        <option value="Resolved">Resolved</option>
                    {% endif %}                    
                </select>
            </div>
            <div class="redirection">
                <button class="btn btn-success mb-2">
                    <i class="bi bi-save me-1"></i>
                    Update</button>
                <a class="btn btn-danger mb-5" href="{{ url_for('admin.admin_complaints') }}">
                    <i class="bi bi-x-circle me-1"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock %}