{% extends 'base.html' %}
{% block content %}
<div class="user-dashboard">
    <div class="sidebar">
        <h3>User Profile</h3>
        <div class="flash-messages text-center mt-3">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="m-3">
            <a href="/complaints/new" class="btn btn-warning mt-3">File a new complaint</a>   
            <a href="/auth/logout" class="btn btn-danger mt-3">Logout</a>
        </div>
    </div>
    <div class="main-content">
        <h3 class="fw-bold text-center mt-5">COMPLAINTS</h3>
        {% if complaints %}
            <table class="table">
                <thead><tr><th>Title</th><th>Status</th><th>Created</th><th>Assigned To</th><th>Admin Comments</th></tr></thead>
                <tbody>
                    {% for c in complaints %}
                        <tr>
                            <td>{{c.title}}</td>
                            <td>
                                {% if c.status == "Pending" %}
                                    <span class="badge bg-warning text-dark">Pending</span>
                                {% elif c.status == "In Progress" %}
                                    <span class="badge bg-info text-dark">In Progress</span>
                                {% elif c.status == "Resolved" %}
                                    <span class="badge bg-success">Resolved</span>
                                {% elif c.status == "Rejected" %}
                                    <span class="badge bg-danger">Rejected</span>
                                {% endif %}
                            </p>
                            </td>
                            <td>{{c.created_at}}</td>
                            <td>{{c.assigned_to}}</td>
                            <td>{{c.admin_comment}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h6 class="text-center text-muted mt-3">No complaints found.</h6>
        {% endif %} 
    </div>
</div>
{% endblock %}